* {
  margin: 0;
}

body {
  background-color: #23252c;
}

.App {
  background-color: #3c3c3c;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px auto;
  border-radius: 2em;
  width: 420px;
  background-color: #181818;
  overflow: hidden;
}


nav {
  text-align: center;
  margin-bottom: 2em;
}

.profile-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 1em;
}

nav p {
  margin: .4em 0;
}

.title--job-title {
  color: #F3BF99;
}

.links {
  width: 20px;
  filter: invert();
  opacity: .8;
}

.title--links {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 2em;
}

.title--links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  padding: .75em 1em;
  width: 130px;
  height: 20px;
  background-color: #e1e1e1;
  border-radius: .5em;
  text-decoration: none;
}

.title--links .email {
  color: #000000;
}

.title--links .email img{
  filter: none;
}

.title--links img {
  margin-right: 1em;
}

.title--links .linkedin {
  background-color: #5093E2;  
}

.main-content {
  margin: 2em;
}

.main-content h2 {
  margin-bottom: .3em;
}

.main-content p {
  line-height: 1.5em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  background-color: #000000;
}